@font-face {
    font-family: 'pt_serif';
    src: url('fonts/ptserif-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serif';
    src: url('fonts/ptserif-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'pt_serif';
    src: url('fonts/ptserif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'pt_serifregular';
    src: url('fonts/ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto';
    src:url('fonts/Roboto-Regular.woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Roboto';
    src:url('fonts/Roboto-italic.woff');
    font-weight: normal;
    font-style: italic;
}




@font-face {
    font-family: 'Roboto';
    src:url('fonts/Roboto-Bold.woff');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'Roboto';
    src:url('fonts/Roboto-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
