body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font-family: pt_serifbold, arial, helvetica, sans-serif;
  font-size: 24px;
  line-height: 31px;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item, .menu__item_active {
  position: relative;
  margin-right: 26px;
  font-family: Roboto, arial, helvetica, sans-serif;
  font-style: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item_active::after, .menu__item::after {
  left: 0;
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s;
}

.menu__item:hover, .menu__item_active:hover {
  opacity: .5;
}

.menu__item:hover:after, .menu__item_active::after {
  opacity: 1;
}

.menu__item:last-child {
  margin-right: 0;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 20%;
}
